<app-nav-bar></app-nav-bar>
<main>
  <section class="container py-5">
    <h1>About Our Application</h1>
    <p>
      This is a login application developed using Angular, NestJS, and PostgreSQL. The application utilizes technologies
      such as Passport authentication, JWT tokens, Bull.js, PrimeNG tables, Bootstrap, bcrypt, and TypeORM. It provides
      secure and efficient user authentication and authorization features for your application.
    </p>
    <p>
      The Angular framework allows for building dynamic and responsive user interfaces, while NestJS provides a scalable
      and modular backend architecture. PostgreSQL is used as the database to store user information securely. Passport
      authentication and JWT tokens ensure secure authentication and authorization processes. Bull.js enables efficient
      job scheduling and processing, and PrimeNG tables and Bootstrap help in creating visually appealing and
      user-friendly tables and UI components. Bcrypt is used for password hashing, enhancing security. TypeORM
      simplifies database operations and query management.
    </p>
  </section>
</main>
